.clear {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 150px;
    -unity-font-style: bold;
    opacity: 0;
    -unity-text-outline-width: 10px;
    -unity-text-outline-color: rgb(0, 0, 0);
}
